astroid==1.6.6
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.3
configparser==4.0.2
cycler==0.10.0
decorator==4.4.2
enum34==1.1.10
et-xmlfile==1.0.1
future==0.18.2
futures==3.3.0
idna==2.10
ipython==5.10.0
ipython-genutils==0.2.0
isort==4.3.21
jdcal==1.4.1
kiwisolver==1.1.0
lazy-object-proxy==1.5.1
matplotlib==2.2.5
mccabe==0.6.1
numpy==1.16.6
openpyxl==2.6.4
pathlib2==2.3.5
pickleshare==0.7.5
probableparsing==0.0.1
prompt-toolkit==1.0.18
Pygments==2.5.2
pylint==1.9.5
pyparsing==2.4.7
python-crfsuite==0.9.7
python-dateutil==2.8.1
pytz==2020.4
requests==2.25.1
requests-cache==0.5.2
scandir==1.10.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.15.0
traitlets==4.3.3
urllib3==1.26.2
usaddress==0.5.10
wcwidth==0.2.5
win-unicode-console==0.5
wrapt==1.12.1
